.toolbar-background {
    background: #eb7b27;
    color: #fff !important;
}

.toolbar-title {
    color: #eb7b27;
    color: #fff !important;
}

.bar-button-default {
    color: #fff;
}

.header .toolbar-background,
.footer .toolbar-background {
    border-color: #eb7b27;
}

.toolbar-title {
    font-weight: 100;
}

.button-clear {
    color: #eb7b27;
}