.toolbar-background {
    background: #1d1c1c;
    color: #fff !important;
}

.toolbar-title {
    color: #32db64;
    color: #fff !important;
}

.bar-button-default {
    color: #fff;
}

.header .toolbar-background,
.footer .toolbar-background {
    border-color: #1d1c1c;
}

.toolbar-title {
    font-weight: 100;
}

.button-clear {
    color: #32db64;
}