page-camera-teste {
    ion-content {
        background-color: #212121 !important;
    }
    .toolbar-title-ios {
        color: #32db64;
    }
    .card {
        background-color: #1b1b1b;
    }
    .card-ios p {
        color: #fff;
    }
}