page-page1 {
    ion-content {
        background-color: #212121 !important;
        color: #fff !important;
    }
    .toolbar-background {
        background-color: #212121;
    }
    .toolbar-title-ios {
        color: #32db64;
    }
    .bar-button-default-ios {
        color: #32db64;
    }
}